<div class="container-card-user">

  <div class="header-card" fxLayout="row" fxLayoutAlign="end end">
    <div fxLayout="column" class="icon-more-vert" fxLayoutAlign="center center">
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="body-card">
    <div class="body-card" fxLayout="column" fxLayoutAlign="start start">
      <div  fxLayout="row" fxLayoutAlign="start center" class="header-title">
        <img src="../../../../assets/img/work-card.png">
        <p class="title-card">Implementação Project Server</p>
      </div>
      <div class="container-tags">
        <span>Tag1</span>
        <span>Tag2</span>
      </div>
    </div>
  </div>
  <div class="footer-card" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>event_available</mat-icon>
    <p class="data-work">10/02/2021</p>
    <span class="work-status" fxLayoutAlign="end center" fxHide.xs fxHide.xs>Em andamento</span>
    <span ngClass.xs="small-status"></span>
  </div>
</div>
