.container-card-user {
  background: #fff;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.26);
  -moz-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.26);
  width: 330px;
  height: 320px;
  margin: 16px;
  .header-card {
    background: #3f5ca7;
    height: 50px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.26);
    .icon-more-vert {
      background: #3f5ca7;
      width: 50px;
      height: 50px;
      mat-icon {
        color: #fff;
      }
    }
  }
  .body-card {
    width: 100%;
    height: 220px;
    margin: 0px 0px 0px 16px;
    .header-title {
      margin: 23px 0px 0px 0px;
    }
    .title-card {
      color: #767576;
      font-size: 18px;
      margin: 1px 0px 0px 8px;
    }

    .container-tags {
      margin: 100px 0px 0px 0px;
      span {
        color: #626262;
        border: 1px solid #e2e2e2;
        padding: 8px;
        border-radius: 8px;
        margin: 8px;
      }
    }
  }

  .footer-card {
    background: #f1f1f1;
    height: 50px;
    width: 100%;
    mat-icon {
      color: #e87376;
      margin: 0px 16px 0px 16px;
    }
    .data-work {
      font-size: 16px;
      color: #e87376;
      margin: 0px 56px 0px 0px;
    }
    .work-status {
      background: #d2ede8;
      color: #58a690;
      padding: 8px 8px 8px 8px;
      border-radius: 8px;
    }
  }
}

@media(max-width: 667px) {
  .container-card-user {
    background: #fff;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.26);
    width: 250px;
    height: 250px;
    margin: 8px;
    .header-card {
      background: #3f5ca7;
      height: 50px;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.26);
      -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.26);
      -moz-box-shadow: 1px 3px 1px 1px rgba(0,0,0,0.26);
      .icon-more-vert {
        background: #3f5ca7;
        width: 50px;
        height: 50px;
        mat-icon {
          color: #fff;
        }
      }
    }
    .body-card {
      width: 100%;
      height: 150px;
      margin: 0px 0px 0px 16px;
      .header-title {
        padding: 0px 8px 0px 0px;
        text-align: center;
        width: 90%;
      }
      .title-card {
        color: #767576;
        font-size: 18px;
        margin: 1px 0px 0px 8px;
      }

      .container-tags {
        margin: 30px 0px 0px 0px;
        span {
          color: #626262;
          border: 1px solid #e2e2e2;
          padding: 8px;
          border-radius: 8px;
          margin: 8px;
        }
      }
    }

    .footer-card {
      background: #f1f1f1;
      height: 50px;
      width: 100%;
      mat-icon {
        color: #e87376;
        margin: 0px 8px 0px 8px;
      }
      .data-work {
        font-size: 16px;
        color: #e87376;
        margin: 0px 20px 0px 0px;
      }
      .work-status {
        background: #d2ede8;
        color: #58a690;
        padding: 4px 6px 4px 6px;
        border-radius: 8px;
        font-size: 12px;
      }
    }
  }
}

.small-status {
  background-color: #58a690;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
