// Colors
$primary: #59e5bf;
$accent: #4778ff;
$green: #54c639;
$white-ice: #f7f7f7;
$white: #ffffff;
$medium-white: #f0f0f0;
$black: #212121;
$gray: #757575;
$medium-gray: #c2c2c2;
$light-gray: #f2f2f2;
$thin-gray: #ededed;
$dark-gray: #333;
$dark-gray2: #555;
$dark-blue: #001445;
$dark-blue2: #015478;
$light-blue: #54a6dc;
$pink: #ee7476;
$teal: #27b5a8;
$danger: #ff593f;
$info: #0c5460;
$light-yellow: #ffff80;

// Ad statuses
$suspended: #ff593f;
$published: #b0dc87;
$draft: #ffc38f;
$paused: #42b4ed;

// Ad relevances
$high: #6fbf24;
$medium: #ffdd38;
$low: #ff593f;

$font-small: 12px;
$font-medium: 142px;
$font-big: 18px;
