<div class="container-recover-pass" fxLayout="column" fxLayoutAlign="center center" *ngIf="!resetPasswordSuccess">

  <mat-card fxLayout="column" fxLayoutAlign="start center">
    <div class="container-back" fxLayout="row">
      <button mat-icon-button (click)="backToLogin()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <h2>Esqueceu sua senha?</h2>
    <p>Digite seu email abaixo para recuperar sua senha!</p>
    <img src="../../../../../assets/img/recover-pass.svg">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Digite seu email"
        [formControl]="emailRecovery"
        type="email" />
    </mat-form-field>
    <button
      mat-button
      class="btn-send"
      [disabled]="emailRecovery.invalid"
      [ngClass]="{'btn-disabled': emailRecovery.invalid}"
      (click)="recoveryPassword()"
    >
      Enviar
    </button>
  </mat-card>
</div>

<div class="container-send-email" fxLayout="column" fxLayoutAlign="center center">

  <mat-card fxLayout="column" fxLayoutAlign="start center" *ngIf="resetPasswordSuccess">
    <div class="container-back" fxLayout="row">
      <button mat-icon-button (click)="backToLogin()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <h2>O email foi enviado!</h2>
    <p>Por favor, abra sua caixa de entrada e clique no link recebido
      para alterar sua senha, caso não tenha encontrado,
      verifique a lixeira e a caixa de spam.
    </p>
    <img src="../../../../../assets/img/send-email.svg">

    <button
      mat-button
      class="btn-send"
      (click)="backToLogin()"
    >
      Login
    </button>
    <p>Não recebeu email? <span class="resend-email" (click)="recoveryPassword()">Envie de novo</span></p>
  </mat-card>
</div>
