.container-recover-pass {
  width: 100vw;
  height: 100vh;

  mat-card {
    height: 800px;
    width: 400px;
    .container-back {
      width: 100%;
      mat-icon {
        color: #e87376;
        cursor: pointer;
      }
    }
    h2 {
      margin: 160px 32px 8px 32px;
      font-size: 24px;
      color: #707070;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      color: #707070;
      font-weight: 300;
      text-align: center;
      margin: 0px 56px 40px 56px;
    }
    img {
      margin: 0px 0px 32px 0px;
    }
    mat-form-field {
      width: 100%;
    }
    .btn-send {
      width:100%;
      height: 56px;
      margin: 32px 0px 24px 0px;
      background: rgb(64,97,171);
      background: linear-gradient(273deg, rgba(64,97,171,1) 0%, rgba(64,97,171,1) 35%, rgba(81,158,212,1) 100%);
      font-size: 22px;
      color: #fff;
    }
  }

}

.container-send-email {
  width: 100vw;
  height: 100vh;

  mat-card {
    height: 800px;
    width: 400px;
    .container-back {
      width: 100%;
      mat-icon {
        color: #e87376;
        cursor: pointer;
      }
    }
    h2 {
      margin: 160px 32px 8px 32px;
      font-size: 24px;
      color: #707070;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      color: #707070;
      font-weight: 300;
      text-align: center;
      margin: 0px 56px 40px 56px;
    }
    img {
      margin: 0px 0px 32px 0px;
    }
    mat-form-field {
      width: 100%;
    }
    .btn-send {
      width:100%;
      height: 56px;
      margin: 32px 0px 24px 0px;
      background: rgb(64,97,171);
      background: linear-gradient(273deg, rgba(64,97,171,1) 0%, rgba(64,97,171,1) 35%, rgba(81,158,212,1) 100%);
      font-size: 22px;
      color: #fff;
    }
    .resend-email {
      color: #e87376;
      cursor: pointer;
    }
  }
}
