

<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="start start"
  fxLayoutAlign.xs="start center" class="content">
  <div
  fxLayout="column"
  class="management-header container-filter"
  >
  <div fxLayout="row" class="container-back">
    <mat-icon>keyboard_backspace</mat-icon>
    <p>Trabalhos</p>
  </div>
  <div fxLayout="row" class="content-filter">
    <mat-icon>filter_alt</mat-icon>
    <div>
      <span>Tipo de Trabalho</span>
      <span>Status</span>
    </div>
  </div>
  </div>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
  <app-card-work></app-card-work>
</div>
