<app-management-pages-template
    pageTitle="Trabalhos"
    [hasSwitchListType]="!isMobile"
    (switchListType)="switchListType($event)"
    (addClick)="redirectToAddJob()"
>
    <div>
        <strong class="filter-menu-title">Mostrar usuários</strong>
    </div>
    <div class="page-items-content users">
        <div class="grid-list" *ngIf="listType == 'grid' && isMobile == false" >
            <ejs-grid enableAdaptiveUI="true" height="100%" #adaptive [dataSource]="data">
                <e-columns>
                    <e-column width="180" field="Title" headerText="Nome"></e-column>
                    <e-column width="180" field="ResponsibleUser.UserName" headerText="Responsável"></e-column>
                    <e-column width="180" field="JobType.Title" headerText="Tipo"></e-column>
                    <e-column width="180" field="JobStatus.Title" headerText="Status"></e-column>
                    <e-column width="180" field="JSonTags" headerText="Etiquetas"></e-column>
                    <e-column width="180" headerText="Options">
                        <ng-template #template let-data>
                            <button
                                type="button"
                                mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Menu Button"
                            >
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #menu [yPosition]="'below'" >
                                <button
                                    mat-menu-item
                                    [routerLink]="['/dashboard/job/',data.ID,'edit']"
                                >
                                    Editar
                                </button>
                                <button mat-menu-item>Viusalizar Canvas</button>
                                <button mat-menu-item>Mudra Status</button>
                                <button mat-menu-item (click)="deleteJob(data.ID)">Excluir</button>
                                <button mat-menu-item>Linha do tempo</button>
                            </mat-menu>
                        </ng-template>
                    </e-column>
                </e-columns>
            </ejs-grid>
        </div>
        <div class="cards-list" *ngIf="listType == 'cards'">
            <!-- <app-card-job
                *ngFor="let job of data"
            >
            </app-card-job> -->
            <div *ngFor="let item of data">
                <mat-card class="card" fxLayout="column">
                    <mat-toolbar fxLayout="row" fxLayoutAlign="flex-end" color="accent">
                        <button mat-icon-button aria-label="Menu Button" [matMenuTriggerFor]="menu">
                            <mat-icon>more_horiz</mat-icon>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item [routerLink]="['/dashboard/job/',item.ID,'edit']">Editar</button>
                                <button mat-menu-item>Viusalizar Canvas</button>
                                <button mat-menu-item>Mudra Status</button>
                                <button mat-menu-item (click)="deleteJob(item.ID)">Excluir</button>
                                <button mat-menu-item>Linha do tempo</button>
                            </mat-menu>
                        </button>
                    </mat-toolbar>
                    <div class="card-body" fxLayoutAlign="row" fxLayoutGap="15px">
                        <img class="mat-card-image" mat-card-sm-image [src]="item.JobType.Image || '../../../../../assets/img/preview_default.svg'" />
                        <mat-card-content>
                            <p>Nome:<strong>{{item.Title}}</strong></p>
                            <p>Responsável: {{item.ResponsibleUser.UserName}}</p>
                            <p>Description: {{item.Description}}</p>
                            <p>Tipo: {{item.JobType.Title}}</p>
                        </mat-card-content>
                    </div>
                    <mat-card-actions>
                        <div style="background-color: blueviolet;">
                            <p>{{item.JSonTags}}</p>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</app-management-pages-template>