<app-management-pages-template
    pageTitle="Trabalhos"
>
    <div>
        <strong class="filter-menu-title">Mostrar usuários</strong>
    </div>
    <div class="page-items-content users">
        <div class="grid-list">
            <ejs-grid enableAdaptiveUI="true" height="100%">
                <e-columns>
                    <e-column width="180" field="title" headerText="Título"></e-column>
                    <e-column width="180" field="owner" headerText="Responsável"></e-column>
                    <e-column width="180" field="type" headerText="Tipo"></e-column>
                    <e-column width="180" field="status" headerText="Status"></e-column>
                    <e-column width="180" field="label" headerText="Etiquetas"></e-column>
                    <e-column width="180" field="options" headerText="Options"></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
</app-management-pages-template>