<section class="dashboard-content form-page user-form">
  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <header
      class="panel-header" fxLayout="row" fxLayout.xs="row wrap"
      fxLayoutAlign="space-between center" fxLayoutAlign.xs="start center"
    >
      <div class="left w-75" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" class="container-back" fxLayoutAlign="start center" >
          <mat-icon (click)="navigateBack()">arrow_back</mat-icon>
          <h2>{{jobID ? 'Edição do trabalho' : 'Novo trabalho'}}</h2>
        </div>
        <div class="w-50">
          <ng-select placeholder="Digite aqui as etiquetas deste medddmbro" formControlName="Tags" [addTag]="true" [multiple]="true" >
            <ng-option *ngFor="let car of cars" [value]="car.id" style="padding: 5px;">{{car.name}}</ng-option>
          </ng-select>
        </div>
      </div>
    </header>

    <div class="right">
      <mat-form-field appearance="outline" class="w-75">
        <mat-label><span *ngIf="!this.job">*</span>Título</mat-label>
        <input matInput formControlName="Title"  />
        <mat-error *ngIf="!jobForm.get('Title').valid &&jobForm.get('Title').touched">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-75">
        <mat-label><span *ngIf="!this.job">*</span>Descrição</mat-label>
        <textarea matInput rows="5" formControlName="Description"></textarea>
        <mat-error
          *ngIf="!jobForm.get('Description').valid &&
          jobForm.get('Description').touched">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between start" class="w-75">
        <div class="w-50 px-sm-left">
          <mat-form-field appearance="outline"  class="w-100">
            <mat-label><span *ngIf="!this.job">*</span>Tipo</mat-label>
            <mat-select formControlName="Type">
              <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="!jobForm.get('Type').valid &&
              jobForm.get('Type').touched">
              Campo obrigatório
            </mat-error>
          </mat-form-field>
        </div>
        <div class="w-50 px-sm-right">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label><span *ngIf="!this.job">*</span>Status</mat-label>
            <mat-select formControlName="Status">
              <mat-option *ngFor="let status of statuses" [value]="status" >{{status}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="!jobForm.get('Status').valid &&
              jobForm.get('Status').touched">
              Campo obrigatório
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start" class="w-75">
        <div class="w-50 px-sm-left">
          <mat-form-field appearance="outline"  class="w-100">
            <mat-label><span *ngIf="!this.job">*</span>Responsável</mat-label>
            <mat-select formControlName="ResponsiveUser">
              <mat-option ></mat-option>
            </mat-select>
            <mat-error
              *ngIf="!jobForm.get('ResponsiveUser').valid &&
              jobForm.get('ResponsiveUser').touched">
              Campo obrigatório
            </mat-error>
          </mat-form-field>
        </div>
        <div class="w-50 px-sm-right">
          <div fxLayout="row" fxLayoutAlign="space-between start" class="w-100">
            <div class="w-50 px-sm-left">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Início</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="StartDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="w-50 px-sm-right">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Término</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="EndDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div>
        <p class="text-bold">Membros</p>
        <div class="grid-list w-75">
          <ejs-grid enableAdaptiveUI="true" height="100%" #grid  [dataSource]="memberDataArray" [rowRenderingMode]="rowMode">
            <e-columns>
              <e-column width="180" field="memberName" headerText="Nome">eee</e-column>
              <e-column width="180" field="memberProfile" headerText="Papel"></e-column>
              <e-column width="180" field="isValid" headerText="Executa tarefas?"></e-column>
              <e-column width="180" field="tags" headerText="Etiquetas"></e-column>
              <e-column width="180" headerText="Ações" >
                <ng-template #template let-data>
                  <button
                    type="button"
                    mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Menu Button"
                    ><mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #menu [yPosition]="'below'" >
                    <button
                      type="button"
                      mat-menu-item
                      (click)="openDialogEdit(data.memberName)"
                    >
                      Editar
                    </button>
                    <button
                      type="button"
                      mat-menu-item
                    >
                      Excluir
                    </button>
                  </mat-menu>
                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>
        </div>
        <div class="text-center w-75 mt-sm">
          <div class="btn-create-dynamic">
            <button  type="button" mat-fab class="new-dynamic" (click) = "openDialog()">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>add</mat-icon>
              </div>
            </button>
          </div>
          <p class="mt-sm">Clique no botão acima para associar o primeiro membro a este trabalho.</p>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end start" class="w-75 mt-sm">
        <button type="button" mat-raised-button class="btn-card mx-sm p-sm" (click)="navigateBack()">Fechar</button>
        <button type="submit"  mat-raised-button class="btn-card btn-card-primary mx-sm p-sm">Salvar</button>
        <button type="submit"  mat-raised-button class="btn-card btn-card-primary mx-sm p-sm">Salvar e ir para o Canvas</button>
      </div>

    </div>
  </form>
</section>

