.w-75{
    width: 75%;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.px-sm-left{
    padding: 0px 10px 0px 0px;
}
.px-sm-right{
    padding: 0px 0px 0px 10px;
}
.text-bold{
    font-weight: bolder;
}
.text-center{
    text-align: center;
}
.mt-sm{
    margin-top: 20px;
}
.mx-sm{
    margin: 0px 10px 0px 10px;
}
.p-sm{
    padding: 5px 40px 5px 40px;
}