<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <!-- <img
    fxHide.xs
    class="img-top-login"
    src="../../../../../assets/Top-login.svg"
    alt="imagem do top"
  /> -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card
      class="card-email"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <div>
        <p class="title title-reset-pass">Criar nova senha</p>
      </div>
      <div
        class="container-form"
        fxLayout="column"
        fxLayoutAlign="center center"
        [formGroup]="formResetPass"
      >
        <div
          class="input-remember-pass"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <div fxFlex="75">
            <div fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input
                  matInput
                  placeholder="Senha"
                  type="password"
                  formControlName="newPassword"
                />
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Confirma senha</mat-label>
                <input
                  matInput
                  placeholder="confirmar senha"
                  formControlName="confPassword"
                  type="password"
                  formControlName="confirmPassword"
                />
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div>
              <p
                *ngIf="equalPassword === false"
                class="equal-pass-alert"
                fxLayoutAlign="center center"
              >
                As senhas devem ser iguais.
              </p>
            </div>
            <br />
            <div
              class="container-form"
              fxLayout="row"
              fxLayoutAlign="center center"
            >
              <div fxFlex="100">
                <div fxLayout="column">
                  <button
                    class="btn-reset-pass"
                    mat-raised-button
                    color="primary"
                    (click)="recoveryPassword()"
                    [disabled]="formResetPass.invalid"
                  >
                    Alterar
                  </button>
                  <button
                    class="btn-back"
                    mat-button
                    (click)="navigateToLogin()"
                  >
                    Voltar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <img
    fxHide.xs
    class="img-bottom-login"
    src="../../../../../assets/bottom-login.svg"
    alt=""
  />
</div>
