.container {
  height: 100vh;
}

.title-reset-pass {
  margin: 0px 0px 48px 0px;
}

.card-email {
  z-index: 2;
  height: 590px;
  width: 555px;
  border-radius: 10px;
}


.img-top-login {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 700px;
}

.img-bottom-login {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 1300px;
}


.container-form {
  width: 100%;
}

.input-remember-pass {
  width: 100%;
}

.btn-reset-pass {
  margin: 16px 0px 0px 0px;
  width: 100%;
}
.btn-back {
  margin: 32px 0px 0px 0px;
}

.equal-pass-alert {
  color: var(--color-red)
}
